
@{
    ViewBag.Title = "adminProfile";
    Layout = "~/Views/Layouts/_EmptyAdmin.cshtml";
}


<h2>Edit Your Profile Details</h2>
@using (Html.BeginForm())
{
    <div class="container-fluid">
        <div class="row">
            @foreach (var su in ViewData["myprofile"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblAdmin>)
            {
            <div class="col-md-12 card p-4">
                <h5 class="p-0 mt-1">Email Address: </h5>    <input type="text" class="form-control" name="name" value="@su.adminName" />
                <h5 class="p-0 mt-1">Password: </h5>    <input type="text" class="form-control" name="email" value="@su.adminEmail" />
                <h5 class="p-0 mt-1">Password: </h5>    <input type="text" class="form-control" name="password" value="@su.adminPassword" />
            </div>
            }
            <input type="submit" class="btn btn-lg btn-success mt-3" onclick="success()" value="Save Changes" />
        </div>

    </div>
}
<script>
    function success() {
        alert("Profile Updated Successfully!!!");
    }
</script>

