
@{
    ViewBag.Title = "NotAllowed";
    Layout = "~/Views/Layouts/_createGroupLayout.cshtml";
}

<h1>You are not Authorised</h1>
@using (Html.BeginForm())
            {
                <button class="btn btn-info btn-lg" type="submit">OK</button>
            }


