
@{
    ViewBag.Title = "groupChat";
    Layout = "~/Views/Layouts/_SupervisorEmpty.cshtml";
}

<h2>group Chat</h2>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 p-3 border-2" style="background-color: darkslategrey; height: 700px">
                @foreach (var st in ViewData["received"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblChats>)
                {<div style="float: left;">
    <b>@st.senderName</b>:<i>@st.message</i>
</div><br />
                    foreach (var sb in ViewData["sent"] as IEnumerable<TheFinalProduct_FYP_.db_fypManagement.tblChats>)
                    {
            <div style="float: right;">
                <b>@sb.senderName</b>:<i>@sb.message</i>
            </div>
                    }
                }
            <table style="margin-top: 620px;">
                <tr>@using (Html.BeginForm())
                {
                    <th><input type="text" name="msg" style="width: 800px" class="form-control" placeholder="Type Your Message" /></th>
                    <th><button type="submit" class="btn btn-info " name="send">Send</button></th>
                }</tr>
                    </table>
                    </div>
        </div>
    </div>




